<!DOCTYPE html> 
<html> 
  <head> 
    <title>TastingTonight</title>
    <link rel="stylesheet" href="css/normalize.css" />
    <link rel="stylesheet" href="css/style.css" />
    <script type="text/javascript" src="http://use.typekit.com/syk5cxs.js"></script>
    <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
  </head>
  <body class="tk-adobe-garamond-pro">
    <div class="container">
      <div class="hero">
        <h1 class="tk-adobe-garamond-pro">TastingTonight</h1>
        <h4 class="tk-adobe-garamond-pro">[ Craft Beer, Wine, Scotch ]</h4>
        <img src="img/heroimage.jpg" />
      </div>
      <div class="tk-adobe-garamond-pro" class="main_explainer">
        <h3>Host a professional-quality tasting party with your friends. <br> We deliver
          expert-curated tasting boxes <i>every weekend</i> in New York City.</h3>
      </div>
      <hr />
      <div class="package_columns">
        <h2>Tasting Packages</h2>
        <h5>In every package, you'll receive:</h5>
        <ul>
          <li>Free delivery to anywhere in NYC</li>
          <li>30 minutes of video tasting notes from a TastingTonight professional critic</li>
          <li>5 tasting glasses (real glass!)</li>
          <li>Printed tasting notes and hosting guide</li>
        </ul>
        <div class="third">
          <h3>Scotch</h3>
          <h4>This weekend's pack:</h4>
          <h5>Introducing Islays</h5>
          <ul>
            <li>Laphroaig 18 Year</li>
            <li>Lagavulin 16 Year</li>
            <li>Caol Isla Signatory 1999</li>
            <li>Bunhabhain Toiteach</li>
            <li>Bowmore Darkest 15 Year</li>
          </ul>
          <p class="sell">Introduce yourself and your friends to the world of
            peated scotches. This unique package of rare, classic and well-aged
            bottlings is an incredible flight.</p>
        </div>
        <div class="third">
          <h3>Craft Beer</h3>
          <h4>This weekend's pack:</h4>
          <h5>Summer in New York</h5>
          <ul>
            <li>Sunshine Pils</li>
            <li>Allagash White</li>
            <li>Harpoon Summer Beer</li>
            <li>Bluepoint Blueberry Ale</li>
            <li>Circus Boy Hefeweizen</li>
          </ul>
          <p class="sell">Grab some friends and some lawnchairs, because this pack is an amazing selection of the best summer beers we could find. Drink this
            one outside.</p>

        </div>
        <div class="third">
          <h3>Wine</h3>
          <h4>This weekend's pack:</h4>
          <h5>Sparkling France</h5>
          <ul>
            <li>Saumur Brut, Non Dose</li>
            <li>Cremant de Bourgogne</li>
            <li>Mauzac Nature, Plageoles</li>
            <li>Brut de Savoie</li>
            <li>Garden Brut - Reserve</li>
          </ul>
          <p class="sell">The French aren't exactly renowned for their military victories, but that's because they spent their time with their grapes rather than their guns.</p>
        </div>
      </div>
      <hr />
      <div class="cta">
        <h2>Now Taking Orders for Next Weekend: July 20-22</h2>
        <h3>Delivery anywhere in NYC. With video tasting notes, glasses included,
          and five incredible selections: how can you go wrong?</h3>
          <div class="form">
          <form action="email" method="get">
            First name: <input type="text" name="firstname" />
            Last name: <input type="text" name="lastname" />
            Address: <input type="text" name="address" />
            Package Choice: <select name="package">
                            <option value="scotch23">Scotch (2-3 person) - $65</option>
                            <option value="scotch46">Scotch (5-8 person) - $120</option>
                            <option value="wine23">Wine (2-4 p.) - $50</option>
                            <option value="wine46">Wine (5-8 p.) - $100</option>
                            <option value="beer23">Craft Beer (2-3 p.) - $25</option>
                            <option value="beer46">Craft Beer (4-6 p.) - $50</option>
                            </select>
            Delivery Date: <select name="date">
                            <option value="fri">Fri July 20</option>
                            <option value="sat">Sat July 21</option>
                            <option value="sun">Sun July 22</option>
                            </select>
            Size of Party: <input type="text" name="time" />
            Delivery Time: <input type="text" name="time" />
            Phone Number: <input type="text" name="phone" />
            Special Requests and Instructions: <textarea name="special" rows="5"></textarea>
            <input type="submit" />
          </div class="form">
          </form>
      </div>
    </div>

  </body>
</html>